body, html {
    margin: 0;
    padding: 0;
}

* {box-sizing: border-box; }

*:focus {
    box-shadow: 0 0 10px blue;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);


    animation: fadeIn .3s both;
}

.modal-wrapper {
    overflow: auto;
    width: 600px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    background: #fff;


    animation: slideFromTop .3s both;
}

/* animation */

.modal[aria-hidden="true"] {
    animation-name: fadeOut;
    /* animation-direction: reverse; */
}

.modal[aria-hidden="true"] .modal-wrapper {
    animation-name: slideToBottom;
    /* animation-direction: reverse; */
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes slideFromTop {
    from {transform: translateY(-50%);}
    to {transform: translateY(0);}
}

@keyframes slideToBottom {
    from {transform: translateY(0);}
    to {transform: translateY(50%);}
}